.header {
    grid-area: header;
    /* background-color: red; */
    /* grid-column-start: 1; grid-column-end: 2; grid-row-start: 5; grid-row-end: 6; */
    display: flex;
}

.header__logo {
    text-decoration: none; /* Remove underline for the link */
    color: #000000; /* Text color */
    padding:var(--size-120) ;
}

.header__nav {
    margin-top: var(--size-80); /* Add some space between logo and menu */
}

.header__menu { 
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border:1px solid #ff00ff;*/
}
.header__menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu-link {
    display: block; /* Make the link a block to fill the menu item */
    padding: var(--size-40); /* Add padding to make it look like a button */
    text-decoration: none; /* Remove underline for the link */
    color: var(--primary-text-color); /* Text color */
}

@media (min-width: 601px) {  
    .header__menu {
        flex-flow: row wrap; 
        justify-content: space-around;
    }
}